.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-container{
    
    background-color: hsl(330, 72%, 62%);
}
.nav-title{
    color:white
}
.navbar-container li{
    width:100px;
    height: fit-content;
        background-color: hsl(330, 78%, 65%);
     color: rgb(236, 175, 175);
}
.navbar-container ul{
    display: flex;
    gap: 10px;
    margin-bottom: auto;
    justify-content: start;
    cursor: pointer;

}
.navbar-container button{
    border: none;
    background-color: hsl(330, 78%, 65%);
    color: rgb(236, 175, 175);
    font-weight: 500;
    cursor: pointer;
    height: 30px;
}
.navbar-container li{
    font-weight: 600;
   color: gold;
}
/* TABLETS */
@media (max-width: 992px) {

  .navbar-container ul {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .navbar-container li,
  .navbar-container button {
    width: 80px;
    height: 28px;
    font-size: 14px;
  }

  .nav-title {
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
  }
}

/* MOBILE */
@media (max-width: 600px) {

  .navbar-container ul {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-container li,
  .navbar-container button {
    width: 100%;
    text-align: center;
    font-size: 13px;
    height: 35px;
  }

  .nav-title {
    font-size: 16px;
    padding: 5px 0;
  }
}