.footer {
 background-color: hsl(326, 90%, 48%);
  color: white;
  padding: 60px 40px 20px 40px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-section h2 {
  color: gold;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f5f5f5;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: gold;
  padding-left: 5px;
}

.footer-section a {
  text-decoration: none;
  color: inherit;
}

/* Newsletter */
.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  padding: 8px;
  border: none;
  outline: none;
  width: 70%;
}

.newsletter button {
  padding: 8px 12px;
  border: none;
  background: gold;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #e6c200;
}

.footer hr {
  margin: 40px 0 20px;
  border-color: #333;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}